In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [2]:
dframe1 = DataFrame({'key':['X','Z','Y','Z','X','X'],'data_set_1': np.arange(6)})
dframe1

  key  data_set_1
0   X           0
1   Z           1
2   Y           2
3   Z           3
4   X           4
5   X           5

In [3]:
# もう一つ別のDataFrameを作ります。
dframe2 = DataFrame({'key':['Q','Y','Z'],'data_set_2':[1,2,3]})
dframe2

  key  data_set_2
0   Q           1
1   Y           2
2   Z           3